//Estilo a nuestra página utilizando las variables que declaramos en nuestro archivo _variables.scss

*{
    font-family: $body_font;
}
nav{
    .nav-wrapper{
        background-color: $cofee-background;
    }
    li:hover{
        
        a:hover{
            color: $hover;
        }
    }
}
body{
    background-color: $white-background;
    .about{
    background-color: $about-section;
    p{
        text-align: left;
    }
    h5{
        text-align: center;
    }
    img{
        border-radius: $border-radius;
    }
    
}
}
.welcome{
        background-color: $welcome-section;
        img{
            border-radius: $border-radius;
        }
    }

footer{
    .divider{
        background-color: $divider;
    }
}






