//Estilo a nuestra página utilizando las variables que declaramos en nuestro archivo _variables.scss

*{
    font-family: $body_font;
}
nav{
    .nav-wrapper{
        background-color: $cofee-background;
    }
    li:hover{
        
        a:hover{
            color: $hover;
        }
    }
}
body{
    background-color: #e9e0b7;
    .about{
    background-color: $about-section;
    p{
        text-align: left;
    }
    h5{
        text-align: center;
    }
    img{
        border-radius: $border-radius;
    }
    
}
}
/*Carousel*/
.carousel{
    border-bottom: 3px solid black;
    
}

.carousel.carousel-slider {
    
    z-index: -1;
}
/*Header*/

.welcome{
        background-color: $welcome-section;
        img{
            border-radius: $border-radius;
        }
    }

footer{
    color: #dbbe86;
    background-color: #2f1f1f;
    .divider{
        background-color: #fadda5;
    }

}

/*PICTURES*/
.pictures{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -4%;
    .circle{
        border: 10px solid $border-circle;
    }
    medium{
        text-transform: uppercase;
        color: #343235;
        font-weight: bold;
    }
    a{
        color: #343235;
        background-color: #dbbe86;
    }
    
}

/*WELCOME*/
.welcome{
    padding: 20px;
    h5{
        color: #d96c58;
    }
    a,li{
        color: #343235;
    }
}
/*ABOUT US*/
.about{
    color: #fadda5;
    padding: 25px;
    border-bottom: 5px solid white;
}

