//Estilo a nuestra página utilizando las variables que declaramos en nuestro archivo _variables.scss

*{
    font-family: $body_font;
}
nav{
    .nav-wrapper{
        background-color: $cofee-background
    }
    li:hover{
        background-color: $cofee-background;
        a:hover{
            color: $hover;
        }
    }
}
body{
    background-color: $cofee-background;
}



