$body_font:'Raleway', sans-serif;
$cofee-background: #2f1f1f;
$white-background:white;
$hover: #f00;
$divider: black;
$about-section: #4a3a3a;
$welcome-section: #f4f4f4;
$border-radius: 8px;
$border-circle:#dbbe86;
